@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
   font-family: "Poppins", sans-serif !important;
   font-size: 0.95em !important;
}

.text-justify {
   text-align: justify;
}

.bg-abu {
   background-color: #f4f4f4 !important;
}

.text-harga {
   color: #ff8d79 !important;
}

.pointer {
   cursor: pointer;
}

.activation {
   color: #ff7158 !important;
}

.scale {
   &:hover {
      transform: scale(1.05);
      transition: 400ms;
      -webkit-transition: 400ms;
      -moz-transition: 400ms;
      -ms-transition: 400ms;
      -o-transition: 400ms;
   }

   .card-shadow:hover {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.619);
      transition: 150ms;
      -webkit-transition: 150ms;
      -moz-transition: 150ms;
      -ms-transition: 150ms;
      -o-transition: 150ms;
      transition-delay: 106ms;
   }
}

.thumb {
   width: 100% !important;
   padding: 0.25rem;
   background-color: #fff;
   border: 3px solid white;
   border-radius: 0.25rem;
   height: auto;
   transition: 0.3s ease;
   -webkit-transition: 0.3s ease;
   -moz-transition: 0.3s ease;
   -ms-transition: 0.3s ease;
   -o-transition: 0.3s ease;

   &:hover {
      border: 3px solid #ff7158;
      cursor: pointer;
   }
}

@keyframes fade {
   to {
      opacity: 1;
   }
}

.fade-out {
   opacity: 0;
   animation: fade 0.4s;
   -webkit-animation: fade 0.4s;
}

.actived {
   opacity: 0.7;
}

@media (min-width: 768px) {
   .content {
      margin-top: 25px;
      margin-left: 20px;
   }
}

.title {
   font-size: 0.9rem !important;
   color: #9191a9;
}

.content h5 {
   font-size: 18px;
   line-height: 27px;
   color: #0c0d36;
}

.cart {
   display: inline-block;
   min-width: 2em;
   padding: 0.3em;
   border-radius: 50%;
   font-size: 10px;
   text-align: center;
   background: #29a867;
   color: #fefefe;
   margin-left: -10px;
}

.card-title {
   font-size: 1rem;
   color: #c5c5c5;
}

.card-subtitle {
   font-weight: 600;
   font-size: 32px;
   color: #0c0d36;
}

.card-list {
   margin-bottom: 10px;

   .card-body {
      font-size: 18px;
      line-height: 38px;
      color: #0c0c0d;
   }
}

.content h5 {
   font-size: 18px;
   line-height: 27px;
   color: #0c0d36;
}

#sidebars {
   z-index: 11;
   width: 250px;
   min-height: 100vh;
   transition: 0.4s;
   -webkit-transition: 0.4s;
   -moz-transition: 0.4s;
   -ms-transition: 0.4s;
   -o-transition: 0.4s;
}

.active-nav {
   margin-left: 0 !important;
}

@media (max-width: 800px) {
   #sidebars {
      margin-top: 55px;
      margin-left: -300px;
   }
}

.side-list.active {
   padding-left: 0;
   background: linear-gradient(270deg, rgba(255, 113, 88, 0.32) 20%, rgba(255, 204, 195, 0.114604) 90%, rgba(255, 255, 255, 0) 100%);
   border-right: 4px solid #ff7158;
   color: #0c0d36;
}

.nav-pills {
   .nav-link {
      border-radius: 0 !important;
      -webkit-border-radius: 0 !important;
      -moz-border-radius: 0 !important;
      -ms-border-radius: 0 !important;
      -o-border-radius: 0 !important;
      color: #9191a9 !important;
      font-weight: bold !important;
      padding-top: 5px !important;

      &.active {
         color: #0c0d36 !important;
         border-bottom: 3px solid #0c0d36 !important;
         padding-top: 5px !important;
         background: none !important;
      }
   }
}
